<?xml version="1.0"?>
<ServerSettings>
        <property name="ServerName" value="{{ ServerName }}"/>
        <property name="ServerDescription" value="{{ ServerDescription }}"/>
        <property name="ServerWebsiteURL" value="{{ ServerWebsiteURL }}"/>
        <property name="ServerPassword" value="{{ ServerPassword }}"/>
        <property name="ServerLoginConfirmationText" value="{{ ServerLoginConfirmationText }}"/>
        <property name="ServerPort" value="{{ ServerPort }}"/>
        <property name="ServerVisibility" value="{{ ServerVisibility }}"/>
        <property name="ServerDisabledNetworkProtocols" value="{{ ServerDisabledNetworkProtocols }}"/>
        <property name="ServerMaxWorldTransferSpeedKiBs" value="{{ ServerMaxWorldTransferSpeedKiBs }}"/>
        <property name="ServerMaxPlayerCount" value="{{ ServerMaxPlayerCount }}"/>
        <property name="ServerReservedSlots" value="{{ ServerReservedSlots }}"/>
        <property name="ServerReservedSlotsPermission" value="{{ ServerReservedSlotsPermission }}"/>
        <property name="ServerAdminSlots" value="{{ ServerAdminSlots }}"/>
        <property name="ServerAdminSlotsPermission" value="{{ ServerAdminSlotsPermission }}"/>
        <property name="ControlPanelEnabled" value="{{ ControlPanelEnabled }}"/>
        <property name="ControlPanelPort" value="{{ ControlPanelPort }}"/>
        <property name="ControlPanelPassword" value="{{ ControlPanelPassword }}"/>
        <property name="TelnetEnabled" value="{{ TelnetEnabled }}"/>
        <property name="TelnetPort" value="{{ TelnetPort }}"/>
        <property name="TelnetPassword" value="{{ TelnetPassword }}"/>
        <property name="TelnetFailedLoginLimit" value="{{ TelnetFailedLoginLimit }}"/>
        <property name="TelnetFailedLoginsBlocktime" value="{{ TelnetFailedLoginsBlocktime }}"/>
        <property name="TerminalWindowEnabled" value="{{ TerminalWindowEnabled }}"/>
        <property name="AdminFileName" value="{{ AdminFileName }}"/>
        <property name="EACEnabled" value="{{ EACEnabled }}"/>
        <property name="HideCommandExecutionLog" value="{{ HideCommandExecutionLog }}"/>
        <property name="MaxUncoveredMapChunksPerPlayer" value="{{ MaxUncoveredMapChunksPerPlayer }}"/>
        <property name="PersistentPlayerProfiles" value="{{ PersistentPlayerProfiles }}"/>
        <property name="GameWorld" value="{{ GameWorld }}"/>
        <property name="WorldGenSeed" value="{{ WorldGenSeed }}"/>
        <property name="WorldGenSize" value="{{ WorldGenSize }}"/>
        <property name="GameName" value="{{ GameName }}"/>
        <property name="GameMode" value="{{ GameMode }}"/>
        <property name="GameDifficulty" value="{{ GameDifficulty }}"/>
        <property name="BlockDamagePlayer" value="{{ BlockDamagePlayer }}"/>
        <property name="BlockDamageAI" value="{{ BlockDamageAI }}"/>
        <property name="BlockDamageAIBM" value="{{ BlockDamageAIBM }}"/>
        <property name="XPMultiplier" value="{{ XPMultiplier }}"/>
        <property name="PlayerSafeZoneLevel" value="{{ PlayerSafeZoneLevel }}"/>
        <property name="PlayerSafeZoneHours" value="{{ PlayerSafeZoneHours }}"/>
        <property name="BuildCreate" value="{{ BuildCreate }}"/>
        <property name="DayNightLength" value="{{ DayNightLength }}"/>
        <property name="DayLightLength" value="{{ DayLightLength }}"/>
        <property name="DropOnDeath" value="{{ DropOnDeath }}"/>
        <property name="DropOnQuit" value="{{ DropOnQuit }}"/>
        <property name="BedrollDeadZoneSize" value="{{ BedrollDeadZoneSize }}"/>
        <property name="BedrollExpiryTime" value="{{ BedrollExpiryTime }}"/>
        <property name="MaxSpawnedZombies" value="{{ MaxSpawnedZombies }}"/>
        <property name="MaxSpawnedAnimals" value="{{ MaxSpawnedAnimals }}"/>
        <property name="ServerMaxAllowedViewDistance" value="{{ ServerMaxAllowedViewDistance }}"/>
        <property name="EnemySpawnMode" value="{{ EnemySpawnMode }}"/>
        <property name="EnemyDifficulty" value="{{ EnemyDifficulty }}"/>
        <property name="ZombieMove" value="{{ ZombieMove }}"/>
        <property name="ZombieMoveNight" value="{{ ZombieMoveNight }}"/>
        <property name="ZombieFeralMove" value="{{ ZombieFeralMove }}"/>
        <property name="ZombieBMMove" value="{{ ZombieBMMove }}"/>
        <property name="BloodMoonFrequency" value="{{ BloodMoonFrequency }}"/>
        <property name="BloodMoonRange" value="{{ BloodMoonRange }}"/>
        <property name="BloodMoonWarning" value="{{ BloodMoonWarning }}"/>
        <property name="BloodMoonEnemyCount" value="{{ BloodMoonEnemyCount }}"/>
        <property name="LootAbundance" value="{{ LootAbundance }}"/>
        <property name="LootRespawnDays" value="{{ LootRespawnDays }}"/>
        <property name="AirDropFrequency" value="{{ AirDropFrequency }}"/>
        <property name="AirDropMarker" value="{{ AirDropMarker }}"/>
        <property name="PartySharedKillRange" value="{{ PartySharedKillRange }}"/>
        <property name="PlayerKillingMode" value="{{ PlayerKillingMode }}"/>
        <property name="LandClaimCount" value="{{ LandClaimCount }}"/>
        <property name="LandClaimSize" value="{{ LandClaimSize }}"/>
        <property name="LandClaimDeadZone" value="{{ LandClaimDeadZone }}"/>
        <property name="LandClaimExpiryTime" value="{{ LandClaimExpiryTime }}"/>
        <property name="LandClaimDecayMode" value="{{ LandClaimDecayMode }}"/>
        <property name="LandClaimOnlineDurabilityModifier" value="{{ LandClaimOnlineDurabilityModifier }}"/>
        <property name="LandClaimOfflineDurabilityModifier" value="{{ LandClaimOfflineDurabilityModifier }}"/>
        <property name="LandClaimOfflineDelay" value="{{ LandClaimOfflineDelay }}"/>
</ServerSettings>
