<?xml version="1.0"?>
<ServerSettings>
        <property name="ServerName" value="{{ sdtdserver_ServerName }}"/>
        <property name="ServerDescription" value="{{ sdtdserver_ServerDescription }}"/>
        <property name="ServerWebsiteURL" value="{{ sdtdserver_ServerWebsiteURL }}"/>
        <property name="ServerPassword" value="{{ sdtdserver_ServerPassword }}"/>
        <property name="ServerLoginConfirmationText" value="{{ sdtdserver_ServerLoginConfirmationText }}"/>
        <property name="ServerPort" value="{{ sdtdserver_ServerPort }}"/>
        <property name="ServerVisibility" value="{{ sdtdserver_ServerVisibility }}"/>
        <property name="ServerDisabledNetworkProtocols" value="{{ sdtdserver_ServerDisabledNetworkProtocols }}"/>
        <property name="ServerMaxWorldTransferSpeedKiBs" value="{{ sdtdserver_ServerMaxWorldTransferSpeedKiBs }}"/>
        <property name="ServerMaxPlayerCount" value="{{ sdtdserver_ServerMaxPlayerCount }}"/>
        <property name="ServerReservedSlots" value="{{ sdtdserver_ServerReservedSlots }}"/>
        <property name="ServerReservedSlotsPermission" value="{{ sdtdserver_ServerReservedSlotsPermission }}"/>
        <property name="ServerAdminSlots" value="{{ sdtdserver_ServerAdminSlots }}"/>
        <property name="ServerAdminSlotsPermission" value="{{ sdtdserver_ServerAdminSlotsPermission }}"/>
        <property name="ControlPanelEnabled" value="{{ sdtdserver_ControlPanelEnabled }}"/>
        <property name="ControlPanelPort" value="{{ sdtdserver_ControlPanelPort }}"/>
        <property name="ControlPanelPassword" value="{{ sdtdserver_ControlPanelPassword }}"/>
        <property name="TelnetEnabled" value="{{ sdtdserver_TelnetEnabled }}"/>
        <property name="TelnetPort" value="{{ sdtdserver_TelnetPort }}"/>
        <property name="TelnetPassword" value="{{ sdtdserver_TelnetPassword }}"/>
        <property name="TelnetFailedLoginLimit" value="{{ sdtdserver_TelnetFailedLoginLimit }}"/>
        <property name="TelnetFailedLoginsBlocktime" value="{{ sdtdserver_TelnetFailedLoginsBlocktime }}"/>
        <property name="TerminalWindowEnabled" value="{{ sdtdserver_TerminalWindowEnabled }}"/>
        <property name="AdminFileName" value="{{ sdtdserver_AdminFileName }}"/>
        <property name="EACEnabled" value="{{ sdtdserver_EACEnabled }}"/>
        <property name="HideCommandExecutionLog" value="{{ sdtdserver_HideCommandExecutionLog }}"/>
        <property name="MaxUncoveredMapChunksPerPlayer" value="{{ sdtdserver_MaxUncoveredMapChunksPerPlayer }}"/>
        <property name="PersistentPlayerProfiles" value="{{ sdtdserver_PersistentPlayerProfiles }}"/>
        <property name="GameWorld" value="{{ sdtdserver_GameWorld }}"/>
        <property name="WorldGenSeed" value="{{ sdtdserver_WorldGenSeed }}"/>
        <property name="WorldGenSize" value="{{ sdtdserver_WorldGenSize }}"/>
        <property name="GameName" value="{{ sdtdserver_GameName }}"/>
        <property name="GameMode" value="{{ sdtdserver_GameMode }}"/>
        <property name="GameDifficulty" value="{{ sdtdserver_GameDifficulty }}"/>
        <property name="BlockDamagePlayer" value="{{ sdtdserver_BlockDamagePlayer }}"/>
        <property name="BlockDamageAI" value="{{ sdtdserver_BlockDamageAI }}"/>
        <property name="BlockDamageAIBM" value="{{ sdtdserver_BlockDamageAIBM }}"/>
        <property name="XPMultiplier" value="{{ sdtdserver_XPMultiplier }}"/>
        <property name="PlayerSafeZoneLevel" value="{{ sdtdserver_PlayerSafeZoneLevel }}"/>
        <property name="PlayerSafeZoneHours" value="{{ sdtdserver_PlayerSafeZoneHours }}"/>
        <property name="BuildCreate" value="{{ sdtdserver_BuildCreate }}"/>
        <property name="DayNightLength" value="{{ sdtdserver_DayNightLength }}"/>
        <property name="DayLightLength" value="{{ sdtdserver_DayLightLength }}"/>
        <property name="DropOnDeath" value="{{ sdtdserver_DropOnDeath }}"/>
        <property name="DropOnQuit" value="{{ sdtdserver_DropOnQuit }}"/>
        <property name="BedrollDeadZoneSize" value="{{ sdtdserver_BedrollDeadZoneSize }}"/>
        <property name="BedrollExpiryTime" value="{{ sdtdserver_BedrollExpiryTime }}"/>
        <property name="MaxSpawnedZombies" value="{{ sdtdserver_MaxSpawnedZombies }}"/>
        <property name="MaxSpawnedAnimals" value="{{ sdtdserver_MaxSpawnedAnimals }}"/>
        <property name="ServerMaxAllowedViewDistance" value="{{ sdtdserver_ServerMaxAllowedViewDistance }}"/>
        <property name="EnemySpawnMode" value="{{ sdtdserver_EnemySpawnMode }}"/>
        <property name="EnemyDifficulty" value="{{ sdtdserver_EnemyDifficulty }}"/>
        <property name="ZombieMove" value="{{ sdtdserver_ZombieMove }}"/>
        <property name="ZombieMoveNight" value="{{ sdtdserver_ZombieMoveNight }}"/>
        <property name="ZombieFeralMove" value="{{ sdtdserver_ZombieFeralMove }}"/>
        <property name="ZombieBMMove" value="{{ sdtdserver_ZombieBMMove }}"/>
        <property name="BloodMoonFrequency" value="{{ sdtdserver_BloodMoonFrequency }}"/>
        <property name="BloodMoonRange" value="{{ sdtdserver_BloodMoonRange }}"/>
        <property name="BloodMoonWarning" value="{{ sdtdserver_BloodMoonWarning }}"/>
        <property name="BloodMoonEnemyCount" value="{{ sdtdserver_BloodMoonEnemyCount }}"/>
        <property name="LootAbundance" value="{{ sdtdserver_LootAbundance }}"/>
        <property name="LootRespawnDays" value="{{ sdtdserver_LootRespawnDays }}"/>
        <property name="AirDropFrequency" value="{{ sdtdserver_AirDropFrequency }}"/>
        <property name="AirDropMarker" value="{{ sdtdserver_AirDropMarker }}"/>
        <property name="PartySharedKillRange" value="{{ sdtdserver_PartySharedKillRange }}"/>
        <property name="PlayerKillingMode" value="{{ sdtdserver_PlayerKillingMode }}"/>
        <property name="LandClaimCount" value="{{ sdtdserver_LandClaimCount }}"/>
        <property name="LandClaimSize" value="{{ sdtdserver_LandClaimSize }}"/>
        <property name="LandClaimDeadZone" value="{{ sdtdserver_LandClaimDeadZone }}"/>
        <property name="LandClaimExpiryTime" value="{{ sdtdserver_LandClaimExpiryTime }}"/>
        <property name="LandClaimDecayMode" value="{{ sdtdserver_LandClaimDecayMode }}"/>
        <property name="LandClaimOnlineDurabilityModifier" value="{{ sdtdserver_LandClaimOnlineDurabilityModifier }}"/>
        <property name="LandClaimOfflineDurabilityModifier" value="{{ sdtdserver_LandClaimOfflineDurabilityModifier }}"/>
        <property name="LandClaimOfflineDelay" value="{{ sdtdserver_LandClaimOfflineDelay }}"/>
</ServerSettings>
