[Resolve]
DNS={% for dns in config.dns -%}{{ dns }} {% endfor %}

FallbackDNS=
Domains=~{{ config.domain }}
DNSSEC=yes
DNSOverTLS=opportunistic
MulticastDNS=no
LLMNR=no
Cache=no-negative
CacheFromLocalhost=no
DNSStubListener=yes
#DNSStubListenerExtra=
ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no