[Resolve]
# TODO: Remove the need for pfSense to be noted here directly.
DNS={{ sunlab_dns }}#pfsense.{{ sunlab_domain }}

FallbackDNS=
Domains={{ sunlab_domain }}
DNSSEC=yes
DNSOverTLS=opportunistic
MulticastDNS=no
LLMNR=no
Cache=no-negative
CacheFromLocalhost=no
DNSStubListener=yes
#DNSStubListenerExtra=
ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no