[Resolve]
DNS={% for dns in sunlab_dns -%}{{ dns }} {% endfor %}

FallbackDNS=
Domains={{ sunlab_domain }}
DNSSEC=yes
DNSOverTLS=opportunistic
MulticastDNS=no
LLMNR=no
Cache=no-negative
CacheFromLocalhost=no
DNSStubListener=yes
#DNSStubListenerExtra=
ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no