version: v2
teleport:
  nodename: {{ inventory_hostname }}
  data_dir: /var/lib/teleport
{% if teleport.auth_token %}
  auth_token: {{ teleport.auth_token }}
{% endif %}
{% if teleport.auth_server %}
  auth_servers:
    - {{ teleport.auth_server }}
{% endif %}
  log:
    output: stderr
    severity: INFO
    format:
      output: text
{% if teleport.ca_pin %}
  ca_pin: {{ teleport.ca_pin }}
{% endif %}
  diag_addr: ""
auth_service:
  enabled: "no"
ssh_service:
  enabled: "yes"
  pam:
    enabled: "true"
    service_name: "sshd"
{% if teleport.labels %}
  labels:
    {% for label, value in teleport.labels | dictsort -%}
    {{ label }}: {{ value }}
    {% endfor %}
{% endif %}
proxy_service:
  enabled: "no"