bind_host: {{ ansible_host }}
bind_port: {{ adguard.conf.bind_port }}
beta_bind_port: 0
users:
- name: {{ adguard.user.name }}
  password: {{ adguard.user.password }}
http_proxy: ""
language: ""
rlimit_nofile: 0
debug_pprof: false
web_session_ttl: 720
dns:
  bind_host: 0.0.0.0
  port: 53
  statistics_interval: 1
  querylog_enabled: true
  querylog_file_enabled: true
  querylog_interval: 90
  querylog_size_memory: 1000
  anonymize_client_ip: false
  protection_enabled: true
  blocking_mode: default
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_response_ttl: 10
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  ratelimit: 20
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
  - 127.0.0.1:5335
  upstream_dns_file: ""
  bootstrap_dns:
  - 127.0.0.1:5335
  all_servers: true
  fastest_addr: false
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts:
  - version.bind
  - id.server
  - hostname.bind
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  bogus_nxdomain: []
  aaaa_disabled: true
  enable_dnssec: false
  edns_client_subnet: false
  max_goroutines: 300
  ipset: []
  filtering_enabled: true
  filters_update_interval: 24
  parental_enabled: false
  safesearch_enabled: false
  safebrowsing_enabled: true
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  rewrites: []
  blocked_services: []
  customresolver: null
tls:
  enabled: false
  server_name: ""
  force_https: false
  port_https: 443
  port_dns_over_tls: 853
  port_dns_over_quic: 784
  port_dnscrypt: 0
  dnscrypt_config_file: ""
  allow_unencrypted_doh: false
  strict_sni_check: false
  certificate_chain: ""
  private_key: ""
  certificate_path: ""
  private_key_path: ""
filters:
- enabled: true
  url: https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt
  name: AdGuard DNS filter
  id: 1
- enabled: true
  url: https://adaway.org/hosts.txt
  name: AdAway Default Blocklist
  id: 2
- enabled: false
  url: https://www.malwaredomainlist.com/hostslist/hosts.txt
  name: MalwareDomainList.com Hosts List
  id: 4
- enabled: true
  url: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
  name: Untitled
  id: 5
- enabled: true
  url: https://mirror1.malwaredomains.com/files/justdomains
  name: Untitled
  id: 6
- enabled: true
  url: http://sysctl.org/cameleon/hosts
  name: Untitled
  id: 7
- enabled: true
  url: https://zeustracker.abuse.ch/blocklist.php?download=domainblocklist
  name: Untitled
  id: 8
- enabled: true
  url: https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
  name: Untitled
  id: 9
- enabled: true
  url: https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
  name: Untitled
  id: 10
- enabled: true
  url: https://hosts-file.net/ad_servers.txt
  name: Untitled
  id: 11
- enabled: true
  url: https://raw.githubusercontent.com/HenningVanRaumle/pihole-ytadblock/master/ytadblock.txt
  name: Untitled
  id: 12
- enabled: true
  url: https://raw.githubusercontent.com/anudeepND/youtubeadsblacklist/master/domainlist.txt
  name: Untitled
  id: 13
- enabled: true
  url: https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-blocklist.txt
  name: Untitled
  id: 14
- enabled: true
  url: https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
  name: Untitled
  id: 15
- enabled: true
  url: https://zerodot1.gitlab.io/CoinBlockerLists/list.txt
  name: Untitled
  id: 16
- enabled: true
  url: https://zerodot1.gitlab.io/CoinBlockerLists/list_browser.txt
  name: Untitled
  id: 17
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/Audio-fingerprint-pages/master/AudioFp.txt
  name: Untitled
  id: 18
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/Canvas-fingerprinting-pages/master/Canvas.txt
  name: Untitled
  id: 19
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/WebRTC-tracking/master/WebRTC.txt
  name: Untitled
  id: 20
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/CKs-FilterList/master/HOSTS/CK's-Ad-Tracker-HOSTS-FilterList.txt
  name: Untitled
  id: 21
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/CKs-FilterList/master/HOSTS/CK's-Spotify-HOSTS-FilterList.txt
  name: Untitled
  id: 22
- enabled: true
  url: https://raw.githubusercontent.com/CHEF-KOCH/CKs-FilterList/master/Corporations/NSABlocklist/CK's-NSABlocklist-FilterList.txt
  name: Untitled
  id: 23
- enabled: true
  url: https://raw.githubusercontent.com/mitchellkrogza/Badd-Boyz-Hosts/master/hosts
  name: Untitled
  id: 24
- enabled: true
  url: https://raw.githubusercontent.com/r-a-y/mobile-hosts/master/AdguardMobileAds.txt
  name: Untitled
  id: 25
- enabled: true
  url: https://raw.githubusercontent.com/r-a-y/mobile-hosts/master/AdguardMobileSpyware.txt
  name: Untitled
  id: 26
- enabled: true
  url: https://raw.githubusercontent.com/EnergizedProtection/block/master/ultimate/formats/hosts.txt
  name: Untitled
  id: 27
- enabled: true
  url: https://raw.githubusercontent.com/mitchellkrogza/The-Big-List-of-Hacked-Malware-Web-Sites/master/hacked-domains.list
  name: Untitled
  id: 28
- enabled: true
  url: https://tspprs.com/dl/tracking
  name: Untitled
  id: 29
- enabled: true
  url: https://adaway.org/hosts.txt
  name: Untitled
  id: 30
- enabled: true
  url: https://v.firebog.net/hosts/AdguardDNS.txt
  name: Untitled
  id: 31
- enabled: true
  url: https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
  name: Untitled
  id: 32
- enabled: true
  url: https://v.firebog.net/hosts/Easylist.txt
  name: Untitled
  id: 33
- enabled: true
  url: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts;showintro=0
  name: Untitled
  id: 34
- enabled: true
  url: https://raw.githubusercontent.com/StevenBlack/hosts/master/data/UncheckyAds/hosts
  name: Untitled
  id: 35
- enabled: true
  url: https://www.squidblacklist.org/downloads/dg-ads.acl
  name: Untitled
  id: 36
- enabled: true
  url: https://v.firebog.net/hosts/Easyprivacy.txt
  name: Untitled
  id: 37
- enabled: true
  url: https://v.firebog.net/hosts/Prigent-Ads.txt
  name: Untitled
  id: 38
- enabled: true
  url: https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.2o7Net/hosts
  name: Untitled
  id: 39
- enabled: true
  url: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
  name: Untitled
  id: 40
- enabled: true
  url: https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt
  name: Untitled
  id: 41
- enabled: true
  url: https://hosts-file.net/exp.txt
  name: Untitled
  id: 42
- enabled: true
  url: https://hosts-file.net/emd.txt
  name: Untitled
  id: 43
- enabled: true
  url: https://hosts-file.net/psh.txt
  name: Untitled
  id: 44
- enabled: true
  url: https://mirror.cedia.org.ec/malwaredomains/immortal_domains.txt
  name: Untitled
  id: 45
- enabled: true
  url: https://www.malwaredomainlist.com/hostslist/hosts.txt
  name: Untitled
  id: 46
- enabled: true
  url: https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/Mandiant_APT1_Report_Appendix_D.txt
  name: Untitled
  id: 47
- enabled: true
  url: https://v.firebog.net/hosts/Prigent-Malware.txt
  name: Untitled
  id: 48
- enabled: true
  url: https://v.firebog.net/hosts/Prigent-Phishing.txt
  name: Untitled
  id: 49
- enabled: true
  url: https://ransomwaretracker.abuse.ch/downloads/RW_DOMBL.txt
  name: Untitled
  id: 50
- enabled: true
  url: https://ransomwaretracker.abuse.ch/downloads/CW_C2_DOMBL.txt
  name: Untitled
  id: 51
- enabled: true
  url: https://ransomwaretracker.abuse.ch/downloads/LY_C2_DOMBL.txt
  name: Untitled
  id: 52
- enabled: true
  url: https://ransomwaretracker.abuse.ch/downloads/TC_C2_DOMBL.txt
  name: Untitled
  id: 53
- enabled: true
  url: https://ransomwaretracker.abuse.ch/downloads/TL_C2_DOMBL.txt
  name: Untitled
  id: 54
- enabled: true
  url: https://v.firebog.net/hosts/Shalla-mal.txt
  name: Untitled
  id: 55
- enabled: true
  url: https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.Risk/hosts
  name: Untitled
  id: 56
- enabled: true
  url: https://www.squidblacklist.org/downloads/dg-malicious.acl
  name: Untitled
  id: 57
- enabled: true
  url: https://tspprs.com/dl/ads
  name: Untitled
  id: 58
- enabled: true
  url: https://dbl.oisd.nl/
  name: Untitled
  id: 59
- enabled: true
  url: https://raw.githubusercontent.com/StevenBlack/hosts/master/data/StevenBlack/hosts
  name: Untitled
  id: 60
- enabled: true
  url: https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts_without_controversies.txt
  name: Untitled
  id: 61
- enabled: true
  url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
  name: Untitled
  id: 62
- enabled: true
  url: https://v.firebog.net/hosts/static/w3kbl.txt
  name: Untitled
  id: 63
- enabled: true
  url: https://v.firebog.net/hosts/Admiral.txt
  name: Untitled
  id: 64
- enabled: true
  url: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
  name: Untitled
  id: 65
- enabled: true
  url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
  name: Untitled
  id: 66
- enabled: true
  url: https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
  name: Untitled
  id: 67
- enabled: true
  url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
  name: Untitled
  id: 68
- enabled: true
  url: https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
  name: Untitled
  id: 69
- enabled: true
  url: https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
  name: Untitled
  id: 70
- enabled: true
  url: https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt
  name: Untitled
  id: 71
- enabled: true
  url: https://v.firebog.net/hosts/Prigent-Crypto.txt
  name: Untitled
  id: 72
- enabled: true
  url: https://phishing.army/download/phishing_army_blocklist_extended.txt
  name: Untitled
  id: 73
- enabled: true
  url: https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
  name: Untitled
  id: 74
- enabled: true
  url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
  name: Untitled
  id: 75
- enabled: true
  url: https://urlhaus.abuse.ch/downloads/hostfile/
  name: Untitled
  id: 76
whitelist_filters: []
user_rules: []
dhcp:
  enabled: false
  interface_name: ""
  dhcpv4:
    gateway_ip: ""
    subnet_mask: ""
    range_start: ""
    range_end: ""
    lease_duration: 86400
    icmp_timeout_msec: 1000
    options: []
  dhcpv6:
    range_start: ""
    lease_duration: 86400
    ra_slaac_only: false
    ra_allow_slaac: false
clients: []
log_compress: false
log_localtime: false
log_max_backups: 0
log_max_size: 100
log_max_age: 3
log_file: ""
verbose: false
schema_version: 7
