flush
destroy
{% if iptables_security_level == 'secure' -%}
{% if (iptables_input_tcp_ports is defined) and iptables_input_tcp_ports -%}
create {{ iptables_input_tcp_ipset }} bitmap:port range 0-65535
add {{ iptables_input_tcp_ipset }} {{ iptables_ssh_port }}
{% for port in iptables_input_tcp_ports %}
add {{ iptables_input_tcp_ipset }} {{ port }}
{% endfor %}
{% endif %}
{% if (iptables_input_udp_ports is defined) and iptables_input_udp_ports -%}
create {{ iptables_input_udp_ipset }} bitmap:port range 0-65535
{% for port in iptables_input_udp_ports %}
add {{ iptables_input_udp_ipset }} {{ port }}
{% endfor %}
{% endif %}
{% endif %}
