destroy
create input_tcp_ports bitmap:port range 0-65535
{% for port in iptables_input_tcp_ports %}
add input_tcp_ports {{ port }}
{% endfor %}
create input_udp_ports bitmap:port range 0-65535
{% for port in iptables_input_udp_ports %}
add input_udp_ports {{ port }}
{% endfor %}
