create myset-ip hash:ip family inet hashsize 1024 maxelem 65536 bucketsize 12 initval 0x08041062
add myset-ip 2.2.2.2
add myset-ip 1.1.1.1
create myset-ip2 hash:ip family inet hashsize 1024 maxelem 65536 bucketsize 12 initval 0x69d8fa83
add myset-ip2 1.1.1.1


create hash:ip,port

create httpsPorts bitmap:port range 0-65536
add httpsPorts 80
add httpsPorts 443





