[Unit]
Description=AWX
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ user.name }}
Group={{ user.name }}
ExecStart=minikube start --addons={{ minikube.conf.addons }} --driver=docker
ExecStop=minikube stop

[Install]
WantedBy=multi-user.target