{% for setting, value in sshd.conf | dictsort -%}
{{ setting }} {{ value }}
{% endfor %}

AllowUsers {{config.users.sudo[0].name}} {{config.users.sudo[1].name}}

{% for setting in sshd.hostkeys -%}
HostKey {{ setting }}
{% endfor %}