[Trigger]
Operation = Remove
Operation = Install
Operation = Upgrade
Type = Package
Target = *

[Action]
Description = Runs paccache after any pacman command to clean cache of all but latest
When = PostTransaction
Exec = /usr/bin/paccache -rk1