<?xml version="1.0"?>
<MyConfigDedicated xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SessionSettings>
{% for setting, value in game.sessionconf | dictsort -%}
    {{ "    " }}<{{ setting }}>{{ value }}</{{ setting }}>
{% endfor %}
    <SuppressedWarnings />
    <BlockTypeLimits>
      <dictionary>
      </dictionary>
    </BlockTypeLimits>
  </SessionSettings>
{% for setting, value in game.conf | dictsort -%}
  {{ "  " }}<{{ setting }}>{{ value }}</{{ setting }}>
{% endfor %}
  <Administrators>
    <unsignedLong>76561198024954968</unsignedLong>
  </Administrators>
  <AutoUpdateBranchPassword />
  <AutoUpdateSteamBranch />
  <Banned />
  <MessageOfTheDay />
  <MessageOfTheDayUrl />
  <Plugins />
  <PremadeCheckpointPath />
  <Reserved />
  <ServerDescription />
</MyConfigDedicated>