Unattended-Upgrade::Allowed-Origins {
        "${distro_id}:${distro_codename}-security";
        "${distro_id}:${distro_codename}-updates";
        "${distro_id}:${distro_codename}";
        "${distro_id}ESM:${distro_codename}-infra-security";
        "${distro_id}ESM:${distro_codename}";
        "${distro_id}ESMApps:${distro_codename}-apps-security";
//      "${distro_id}:${distro_codename}-proposed";
//      "${distro_id}:${distro_codename}-backports";
};

Unattended-Upgrade::Package-Blacklist {
{% for package in unattendedupgrades.conf.Package_Blacklist %}
      "{{package}}";
{% endfor %}
};

{% if unattendedupgrades.conf.Mail %}
Unattended-Upgrade::Mail "{{ unattendedupgrades.conf.Mail }}";
{% if unattendedupgrades.conf.MailOnlyOnError %}
Unattended-Upgrade::MailOnlyOnError "true";
Unattended-Upgrade::MailReport "only-on-error";
{% endif %}
{% endif %}

Unattended-Upgrade::AutoFixInterruptedDpkg "{{ unattendedupgrades.conf.AutoFixInterruptedDpkg }}";
Unattended-Upgrade::Automatic-Reboot "{{ unattendedupgrades.conf.Automatic_Reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattendedupgrades.conf.Automatic_Reboot_Time }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ unattendedupgrades.conf.Automatic_Reboot_WithUsers }}";
Unattended-Upgrade::Debug "{{ unattendedupgrades.conf.Debug }}";
Unattended-Upgrade::InstallOnShutdown "{{ unattendedupgrades.conf.InstallOnShutdown }}";
Unattended-Upgrade::MinimalSteps "{{ unattendedupgrades.conf.MinimalSteps }}";
Unattended-Upgrade::OnlyOnACPower "{{ unattendedupgrades.conf.OnlyOnACPower }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ unattendedupgrades.conf.Remove_New_Unused_Dependencies }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ unattendedupgrades.conf.Remove_Unused_Dependencies }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ unattendedupgrades.conf.Remove_Unused_Kernel_Packages }}";
Unattended-Upgrade::Skip-Updates-On-Metered-Connections "{{ unattendedupgrades.conf.Skip_Updates_On_Metered_Connections }}";
Unattended-Upgrade::SyslogEnable "{{ unattendedupgrades.conf.SyslogEnable }}";
Unattended-Upgrade::SyslogFacility "{{ unattendedupgrades.conf.SyslogFacility }}";
Unattended-Upgrade::Verbose "{{ unattendedupgrades.conf.Verbose }}";